.Transaction {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 50%);
}

.transaction-modal {
  background-color: white;
  width: min(80%, 800px);
  height: 500px;
}
