.MainPage {
  position: relative;
}

header,
.applicant-main {
  background-color: var(--secondary-color);
}
.change-avatar-button {
  display: none;
}

.change-avatar-label {
  border: 1px solid #888;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.applicant-nav {
  background-color: var(--primary-color);
}

.applicant-nav ul {
  display: flex;
  justify-content: space-evenly;
}
